<div
  class="d-flex align-items-center justify-content-center vh-100 bg-secondary"
>
  <div class="w-25 border p-3 rounded bg-light">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label htmlFor="email" class="form-label text-bg-success">
          Username
        </label>
        <input
          formControlName="username"
          name="username"
          title="username"
          type="text"
          class="form-control"
        />
        <div
          *ngIf="form.get('username')?.touched && form.get('username')?.invalid"
          class="text-danger form-text"
        >
          <div *ngIf="form.get('username')?.errors?.['required']">
            Email is required.
          </div>
          <div *ngIf="form.get('username')?.errors?.['email']">
            Please provide a valid email.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label htmlFor="password" class="form-label text-bg-success">
          Password
        </label>
        <input
          formControlName="password"
          title="password"
          type="password"
          class="form-control"
        />
        <div
          *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
          class="text-danger form-text"
        >
          <div *ngIf="form.get('password')?.errors?.['required']">
            Password is required.
          </div>
          <div *ngIf="form.get('password')?.errors?.['minlength']">
            Password must be longer than 3 characters
          </div>
        </div>
      </div>
      <button
        [disabled]="form.invalid"
        type="submit"
        class="btn btn-primary float-end"
      >
        Submit
      </button>
    </form>
    <p *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</p>
  </div>
</div>
