<table class="table">
  <thead>
    <tr>
      <th scope="col">Flight</th>
      <th scope="col">Departure Airport</th>
      <th scope="col">Departing Time</th>
      <th scope="col">Arrival Airport</th>
      <th scope="col">Arriving Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flight of flights">
      <td>{{ flight.callsign }}</td>
      <td>{{ flight.estDepartureAirport }}</td>
      <td>{{ flight.firstSeen * 1000 | date : "shortTime" }}</td>
      <td>{{ flight.estArrivalAirport }}</td>
      <td>{{ flight.lastSeen * 1000 | date : "shortTime" }}</td>
    </tr>
  </tbody>
</table>
